body{
    background-color: #b14fc5;
    font-family: 'Helvetica', 'Sans-serif'
}

header{
    background-color: #40114A;
    height: 10vh;
    padding-top: 2vh;
    box-shadow: 0px 1px 1px #aaa;
}

.cabecalho{
    height: 8vh;
    margin-top: 0.5vh;
}


.titulo{
    text-align: center;
    color: white;
    font-size: 6vw;
    font-weight: bold;
    text-shadow: 1px 1px 2px #777;
    height: auto;
}

.ganhador-box{
    box-shadow: 0px 1px 1px #AAA;
    border-radius: 5px;
}

.ganhador-titulo{
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px #777;
    margin-top: 20px;
}

.ganhador-box{
    width: 80%;
    margin-left: 10%;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
    background-color: #40114A;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.ganhador-musica-titulo{
    display: inline;
    text-align: center;
     font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px #777;
   
}


.proxima-titulo{
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px #777;
    margin-top: 2rem;
}

.votos{
    margin-top: 40px;
}

.versus{
    text-align: center;
    font-size: 20vw;
    color: #ffee58;
    font-weight: bolder;
    -webkit-text-stroke: 3px #e53935;
    text-align: center;
}

.voto-box{
    height: auto;
    background-color: #40114A;
    box-shadow: 0px 1px 2px #aaa;
    border-radius: 5px;
}

.voto-title{
    color: white;
    height: auto;
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bolder;
    margin-top: 15px;
    padding: 5px;
}

hr {
    height: 1px;
    border-top: 1px solid #bbb;
    margin-top: 10px;
    margin-bottom: 10px;
}

.voto-elipse{
    border-radius: 100px;
    background-color:#FE0472;
    cursor: pointer;
}

.voto-elipse > img{
    margin-top: 20px;
    margin-bottom: 10px;
}

.voto-elipse > p{
    text-align: center;
    color: white;
}

.voto-contador{
    text-align: center;
    margin-top: 10px;
    font-size: 1.8rem;
    color: white;
    font-weight: bolder;
    margin-bottom: 10px;
}

footer{
    margin-top: 60px;
    margin-left: 10%;
    width: 80%;
    text-align: center;
    color: #95989A;
    font-size: 12px;
    font-weight: bold;
}

footer a{
    color: #95989A;
    text-decoration: underline;
}

footer a:hover{
    color: gray;
}
@media (max-width: 768px){ 
    header{
        height: 20%;
    }
}

@media (min-width: 768px){ 
    header.container-fluid{
        padding: 0;
        margin: 0;
        min-height: 7vw;
        width: 100%;
    }
    .cabecalho{
        width: 100%;
        margin: 0
    }
    .explosao{
        margin-top: 0vh;
    }

    .titulo{
        font-size: 5vw;
    }
    
    .ganhador-box{
        margin-top: 55px;
    }

    .versus{
        font-size: 5vw;
        text-align: center;
        margin-top: 70px;
    }

    footer{
        width: 100%;
        margin-left: 0%;
    }

    
}