body{
    background-color: #BAE1FF;
    font-family: 'Helvetica', 'Sans-serif'
}

header{
    width: 100%;
    background-color: #FF7FD1;
    height: 90px;
    box-shadow: 0px 1px 1px #aaa;
}

img.explosao{
    margin-top: 15px;
    width: 100px;
}

p.titulo{
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 6px #777
}

.ganhador-box{
    box-shadow: 1px 1px 2px #999;
    border-radius: 5px;
}

.ganhador-titulo{
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px #777;
    margin-top: 20px;
}

.ganhador-box{
    width: 100%;
    height: 70px;
    background-color: #FF7FD1;
    margin-top: 80px;
}

.ganhador-musica-titulo{
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px #777;
    margin-top: 15px;
}

img.audio{
    width: 100%;
    padding: 10px;
}

.proxima-titulo{
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px #777;
    margin-top: 45px;
}

.votos{
    margin-top: 40px;
}

.versus{
    text-align: center;
    font-size: 80px;
    color: #F2FA2A;
    font-weight: bolder;
    -webkit-text-stroke: 3px red;
    margin-top: 60px;
}

.voto-box{
    height: 250px;
    background-color: #BAFFC9;
    box-shadow: 0px 1px 2px #aaa;
    border-radius: 5px;
}

.voto-title{
    color: #95989A;
    height: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 15px;
    padding: 5px;
}

hr {
    height: 1px;
    border-top: 1px solid #bbb;
    margin-top: 10px;
    margin-bottom: 10px;
}

.voto-elipse{
    border-radius: 100px;
    width: 120px;
    height: 120px;
    background-color: #FF7FD1;
}

.voto-elipse > img{
    margin-top: 15px;
    margin-bottom: 10px;
}

.voto-elipse > p{
    text-align: center;
    color: white;
}

.voto-contador{
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    color: #95989A;
}

footer{
    margin-top: 50px;
    margin-left: 10%;
    width: 80%;
    text-align: center;
    color: #95989A;
    font-size: 15px;
    font-weight: bold;
}

footer a{
    color: #95989A;
    text-decoration: underline;
}

footer a:hover{
    color: gray;
}

@media (max-width: 991px){ 
    .voto-box{
        min-height: auto;
        height: 600px;
    }

    .voto-title{
        font-size: 3vw;
        height: auto;
    }

    hr{
        margin-bottom: 50px;
    }

    .voto-elipse{
        width: 30vw;
        height: 30vw;
        border-radius: 100%;
        margin-left: 23.5vw;
    }

    .voto-elipse > img{
        user-select: none;
        width: 80%;
        margin-top: 15px;
        margin-bottom: 10px;
        left: 10%;
    }

    .voto-elipse > p{
        font-size: 4vw;
    }

    .voto-contador{
        font-size: 3.5vw;
        margin-top: 40px;
    }

    .versus{
        width: 30%;
        margin-left: 45%;
    }

    footer{
        font-size: 20px;
    }
}
.voto-elipse {
    cursor:pointer;

}
.voto-elipse:focus > img{
    transform: scale(1.3);
}
